USE [DB_IM_SENSECITY]
GO
/****** Object:  Table [dbo].[M_PROMO]    Script Date: 10/19/2013 02:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_PROMO](
	[PROMO_ID] [nvarchar](50) NOT NULL,
	[PROMO_NAME] [nvarchar](50) NULL,
	[PROMO_START_DATE] [datetime] NULL,
	[PROMO_END_DATE] [datetime] NULL,
	[PROMO_VALUE] [decimal](18, 5) NULL,
	[PROMO_STATUS] [nvarchar](50) NULL,
	[PROMO_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_PROMO] PRIMARY KEY CLUSTERED 
(
	[PROMO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
