USE [DB_IM_SENSECITY]
GO
/****** Object:  Table [dbo].[M_PACKET_COMM]    Script Date: 10/19/2013 02:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_PACKET_COMM](
	[PACKET_COMM_ID] [nvarchar](50) NOT NULL,
	[PACKET_ID] [nvarchar](50) NULL,
	[EMPLOYEE_ID] [nvarchar](50) NULL,
	[PACKET_COMM_TYPE] [nvarchar](50) NULL,
	[PACKET_COMM_VAL] [decimal](18, 5) NULL,
	[PACKET_COMM_STATUS] [nvarchar](50) NULL,
	[PACKET_COMM_DESC] [nvarchar](50) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_PACKET_COMM] PRIMARY KEY CLUSTERED 
(
	[PACKET_COMM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_PACKET_COMM]  WITH CHECK ADD  CONSTRAINT [FK_M_PACKET_COMM_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[M_PACKET_COMM] CHECK CONSTRAINT [FK_M_PACKET_COMM_M_EMPLOYEE]
GO
ALTER TABLE [dbo].[M_PACKET_COMM]  WITH CHECK ADD  CONSTRAINT [FK_M_PACKET_COMM_M_PACKET] FOREIGN KEY([PACKET_ID])
REFERENCES [dbo].[M_PACKET] ([PACKET_ID])
GO
ALTER TABLE [dbo].[M_PACKET_COMM] CHECK CONSTRAINT [FK_M_PACKET_COMM_M_PACKET]
GO
