USE [DB_IM_SENSECITY]
GO
/****** Object:  Table [dbo].[T_JOURNAL_DET]    Script Date: 10/19/2013 02:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_JOURNAL_DET](
	[JOURNAL_DET_ID] [nvarchar](50) NOT NULL,
	[JOURNAL_ID] [nvarchar](50) NOT NULL,
	[ACCOUNT_ID] [nvarchar](50) NOT NULL,
	[JOURNAL_DET_NO] [int] NULL,
	[JOURNAL_DET_STATUS] [nvarchar](50) NULL,
	[JOURNAL_DET_AMMOUNT] [numeric](18, 5) NULL,
	[JOURNAL_DET_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
	[JOURNAL_DET_EVIDENCE_NO] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_JOURNAL_DET] PRIMARY KEY CLUSTERED 
(
	[JOURNAL_DET_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_JOURNAL_DET]  WITH CHECK ADD  CONSTRAINT [FK_T_JOURNAL_DET_M_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[M_ACCOUNT] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[T_JOURNAL_DET] CHECK CONSTRAINT [FK_T_JOURNAL_DET_M_ACCOUNT]
GO
ALTER TABLE [dbo].[T_JOURNAL_DET]  WITH CHECK ADD  CONSTRAINT [FK_T_JOURNAL_DET_T_JOURNAL] FOREIGN KEY([JOURNAL_ID])
REFERENCES [dbo].[T_JOURNAL] ([JOURNAL_ID])
GO
ALTER TABLE [dbo].[T_JOURNAL_DET] CHECK CONSTRAINT [FK_T_JOURNAL_DET_T_JOURNAL]
GO
